/**{
  border: solid black 1px;
}*/

body{
  background-color: beige;
}
a{
  color: #0e8253;
  vertical-align: top;
  font-size: 17px;
}

a:link{text-decoration: none;
}
a:visited{text-decoration: none;
}
a:hover{
  text-decoration: none;
  background-color: white;
  -webkit-border-radius:20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
a:active{
text-decoration: none;
}
h1{
  color: green;
  text-align: center;
}
h3{
  color: green;
  display: inline-block;
  margin-right: 100px;
  margin-left: 100px;
}
h4{
  color: black;
display: inline-block;
margin-right: 200px;
margin-left: 200px;

}
p{
  color: brown;
  
}
li{
  color: brown;
  display:block;
}
.navigation li, .footer li {
  display: inline-block;
  margin: 0 30px;
}


img{
  display: block;
  margin: 0 auto;
}

section{
  width: 49%;
  display: inline-block;
  text-align: center;
}
ul{
  text-align: center;
  padding: 0;
  list-style-type: none;
}
